<div class="submit-form mt-5">
  <div *ngIf="!submitted">
    <div class="form-group">
      <!-- <label for="name">Name</label> -->
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" class="form-control" id="name" [(ngModel)]="tutorial.name" name="name" required>
      </mat-form-field>
      <!-- <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="tutorial.name"
        name="name"
      /> -->
    </div>
    
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" class="form-control" id="surname" [(ngModel)]="tutorial.surname" name="surname" required>
      </mat-form-field>
      <!-- <label for="name">Surname</label>
      <input
        type="text"
        class="form-control"
        id="surname"
        required
        [(ngModel)]="tutorial.surname"
        name="surname"
      /> -->
    </div>

    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="number" class="form-control" id="age" [(ngModel)]="tutorial.age" name="age" required>
      </mat-form-field>
      <!-- <label for="age">Age</label>
      <input
        type="text"
        class="form-control"
        id="age"
        required
        [(ngModel)]="tutorial.age"
        name="age"
      /> -->
    </div>

    <button (click)="saveTutorial()" mat-raised-button color="warn">Submit</button>
    <!-- <button (click)="saveTutorial()" class="btn btn-success">Submit</button> -->
  </div>

  <div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button mat-raised-button color="primary" (click)="backToList()">Back</button>
  </div>
</div>
