<div *ngIf="currentTutorial" class="edit-form">
  <h2>Edit User</h2>
  <form>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" class="form-control" id="name" [(ngModel)]="currentTutorial.name" name="name" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" class="form-control" id="surname" [(ngModel)]="currentTutorial.surname" name="surname" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="10" value="" type="number" class="form-control" id="age" [(ngModel)]="currentTutorial.age" name="age" required>
      </mat-form-field>
    </div>
  </form>

  <button (click)="updateTutorial()" mat-raised-button color="primary">Update</button>
  <button (click)="deleteTutorial()" mat-raised-button color="warn">Delete</button>
  <button (click)="backToList()" mat-raised-button color="success">Back</button>
  <!-- <button type="submit" class="badge badge-success" (click)="updateTutorial()"> -->
    <!-- Update
  </button> -->
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentTutorial">
  <br />
  <p>Cannot access this Tutorial...</p>
</div>
