<div *ngIf="currentUser" class="edit-form">
  <div *ngIf="error_message">
    <h4 class="text-danger mb-3">{{ error_message }}</h4>
  </div>
  <div *ngIf="message">
    <h4 class="text-success mb-3">{{ message }}</h4>
  </div>
  <form>
    <div class="form-group">
      <mat-form-field class="example-full-width" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" id="name" [(ngModel)]="currentUser.name" name="name" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" class="w-100">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" id="surname" [(ngModel)]="currentUser.surname" name="surname" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" class="w-100">
        <mat-label>Age</mat-label>
        <input matInput placeholder="10" value="" type="number" id="age" [(ngModel)]="currentUser.age" name="age" required>
      </mat-form-field>
    </div>
  </form>

  <div class="justify-content-between d-flex">
    <button (click)="updateUser()" mat-raised-button color="primary">Update</button>
    <button (click)="deleteUser()" mat-raised-button color="accent">Delete</button>
    <button (click)="backToList()" mat-raised-button color="warn">Back</button>
  </div>
</div>

<div *ngIf="!currentUser">
  <br />
  <p>Cannot access this User...</p>
</div>
