<div *ngIf="currentUser" class="edit-form">
  <h2>Edit User</h2>
  <form>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" class="form-control" id="name" [(ngModel)]="currentUser.name" name="name" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Ex. Pizza" value="" type="text" class="form-control" id="surname" [(ngModel)]="currentUser.surname" name="surname" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <input matInput placeholder="10" value="" type="number" class="form-control" id="age" [(ngModel)]="currentUser.age" name="age" required>
      </mat-form-field>
    </div>
  </form>

  <button (click)="updateUser()" mat-raised-button color="primary">Update</button>
  <button (click)="deleteUser()" mat-raised-button color="warn">Delete</button>
  <button (click)="backToList()" mat-raised-button color="success">Back</button>
</div>

<div *ngIf="!currentUser">
  <br />
  <p>Cannot access this User...</p>
</div>
